<div class="smt-navbar">
  <div class="smt-nav-header">
      <span>
          budget-me
      </span>
  </div>
  <nav class="smt-nav-body">
      <div class="empty-border-bottom"></div>
      <div class="smt-nav-body-content">
          <div
              class="smt-nav-item"
              routerLinkActive="smt-active-nav">
              <span
                  class="oi oi-home icon-color"
                  aria-hidden="true">
              </span>
              <a routerLink="/dashboard">
                  Dashboard
              </a>
          </div>
        </div>
      <div class="empty-border-bottom"></div>
  </nav>
</div>
